<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <header>
            <h1>Job Analizer</h1>
        </header>
        <main>
            <div id="selector-div">
                <form>
                    <label><b>Enter a job title:</b></label><br>
                    <input type="text" id="job-input" placeholder="Enter job title">
                    <input>
                </form>
            </div>
            <div id="answer-div">
            </div>
        </main>
        <script src="../static/js/index.js"></script>
    </body>
</html>