<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <header>
            <h1>Job Analizer</h1>
        </header>
        <main>
            <div id="selector-div">
                <form>
                    <label id="job-input-label"><b>Enter a job title or key word:</b></label><br>
                    <input type="text" id="job-input" placeholder="Enter job title"><br>
                    <label id="location-input-label"><b>Enter the location:</b></label><br>
                    <input type="text" id="location-input" placeholder="Enter location"><br>
                </form>
                <button id="submit"  onclick="analyze()">Analyze</button>
                <div id="overview-div">
                </div>
            
            </div>
            <div id="answer-div">
            </div>
        </main>
        <script src="../static/js/index.js"></script>
    </body>
</html>